.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.hd-blue {
  background-color: #4f80bd !important; }

.float-left {
  float: left; }

/*.notice {
	border: 1px solid red;
	padding: 2px;
}*/
.text-red {
  color: red; }

* {
  box-sizing: border-box; }

a {
  display: block; }

form {
  width: 100%;
  max-width: 480px;
  margin: 0 auto; }
  form label {
    display: block;
    margin-bottom: 2px; }
  form input, form select {
    padding: 5px;
    margin-bottom: 10px;
    width: 100%; }
  form input[type='submit'] {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px; }

body nav:after {
  display: block;
  clear: both;
  content: ''; }
body#admin table {
  border: 1px solid #4f80bd; }
body#admin th {
  color: #fff;
  font-weight: normal;
  vertical-align: top;
  padding: 5px; }
body#admin td:first-child {
  font-weight: bold; }
body#admin tr:nth-child(odd) {
  background-color: #d3dfee; }
body#admin tr:nth-child(even) {
  background-color: #fff; }

/*# sourceMappingURL=style.css.map */
