@import 'variables';

* {
	box-sizing: border-box;
}

a {
	display: block;
}

form {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;
	label {
		display: block;
		margin-bottom: 2px;
	}
	input, select {
		padding: 5px;
		margin-bottom: 10px;
		width: 100%;
	}

	input[type='submit'] {
		display: block;
		width: 50%;
		margin: 0 auto;
		padding: 10px;
	}
}


body {
	nav:after {
		display: block;
		clear: both;
		content: '';
	}

	&#admin {
		table {
			border: 1px solid $drk-blue;
		}
		th {
			color: $white;
			font-weight: normal;
			vertical-align: top;
			padding: 5px;
		}
		td:first-child {
			font-weight: bold;
		}
		tr:nth-child(odd) {
			background-color: $light-blue;
		}

		tr:nth-child(even) {
			background-color: $white;
		}
	}
}