$white: #fff;
$drk-blue: #4f80bd;
$light-blue: #d3dfee;

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.hd-blue {
	background-color: $drk-blue !important;
}

.float-left {
	float: left;
}

/*.notice {
	border: 1px solid red;
	padding: 2px;
}*/

.text-red {
	color: red;
}